@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
<br>
<br>
<br>
<br>


<div class="container">

    @if (TempData["ContactSucces"] != null && (bool)TempData["ContactSucces"])
    {
        <p>Mesajul tau a fost trimis cu succes!</p>
    }
    else
    {
        Html.RenderAction("RenderForm", "ContactSugestiiClientiSurface");
    }


</div>