@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}



<br> <br> <br>
<div class = "container">
  @Html.GetGridHtml(Model, "contactForm", "bootstrap3-fluid")
  <h3> @Model.Value("subTitle") <a href = "testimonials">Testimonials</a> </h3> 
</div> 





