@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
   
    Layout = "Master.cshtml";
  


}

@* the fun starts here *@
<br>
<br>
<br>
<br>

<div class= "title">@Model.Value("titleContactSugestiiClienti") </div>
<div class="container">

    @if (TempData["ContactSucces"] != null && (bool)TempData["ContactSucces"])
    {
        <p>@Model.Value("succesMessage")</p>
    }
    else
    {
        Html.RenderAction("RenderForm", "ContactSugestiiClientiSurface");
    }


</div>

<style>
    

 </style>

