@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Master.cshtml";
}


<br /> <br /> <br /> <br />


<div class="container">  
        @{ Html.RenderAction("ListEmployee" ,"Employee"); }  
    </div> 

<label>Total Employees:</label>  @ViewBag.TotalEmployees