@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<br> <br> <br> <br> 

<div class="container-fluid text-center">
  <h1 class="siteName">@Model.Value("siteName")</h1>
  <p class = "descriptionIntro"> @Model.Value("descriptionIntro")</p>
</div>
<br> <br> <br> <br> 


<!-- Services Section --> 
<div class="container-fluid text-center">
    @Html.GetGridHtml(Model, "bodyTextHome", "bootstrap3-fluid")

    <form action="/products/">
       <button type="submit" class="btn btn-outline-dark" style = " font-size: 30px; width: 100%">@Model.Value("button")</button>
    </form>
    
    <br><br>
 </div>
 
 

 
  
</div>





