@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
	var home = (Home)Model.Root();
}

@* the fun starts here *@


<!DOCTYPE html>
<html lang="en">
<head>
  <title>@Model.Value("headerIntro")</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="/css/stylesheet.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/scripts/jquery.unobtrusive-ajax.js"></script>


    <!-- Nav -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <br>
        <a class="navbar-brand" href="/">ComandăMâncare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Acasă <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">Restaurante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Lasă-ne un Review !</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="testimonials">Vezi ce spun și alții despre noi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactsugestiiclienti/">Cum va putem ajuta ?</a>
                </li>
                <li class="nav-item">
                    <a class ="nav-link" href="/submitformajax/"> Formular Ajax </a>
                </li>

            </ul>

        </div>
    </nav>




    @RenderBody()



    <footer>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

             <p> @Model.Value("footerCopyright", fallback: Fallback.ToAncestors) </p> 
             <strong>  @Model.Value("footerName", fallback: Fallback.ToAncestors)  </strong>
             
        </div>

    </footer> 

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>







</body>
</html>