@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Product>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<br> <br> <br> 


<div class= "container"> 

<h1>@Model.Value("titlePageProduct", fallback: Fallback.ToAncestors)</h1>

   <!-- todo: iterare de liste de meniuri specific fiecarui restaurant selectat-->

</div>

