@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Testimonials>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<div class = "container"> 



@{
	var selection = Umbraco.Content(Guid.Parse("b98c5150-ab95-421a-800e-09520f5ed31f"))
    .ChildrenOfType("testimonial")
    .Where(x => x.IsVisible());
}




<br> <br> <br>
                                            
  	
            @if (Model.FeaturedTestimonials != null)
            {
                foreach (ContentModels.Testimonial testimonial in Model.FeaturedTestimonials)
                {
                    
                    
                        <div class="card border-info mb-3" style="max-width: 28rem;">
                          <div class="card-header">@testimonial.Name</div>
                          <div class="card-body text-info">
                            
                            <p class="card-text"> @testimonial.MesajClient</p>
                          </div>
                        </div>
                      
                   
                    
                }
             
            }
            
          </div>  
           
            
            
            
            



