<div> 
<h2> Succes! </h2>
<p>Mesajul tau a fost trimis !</p>
</div>



<style>
    h2 {
        color:green;
        font-family: cursive;
        text-shadow: 2px 2px 5px red;
    }
    
    p{
        font-family: cursive;
    }
    
    .container h2 {
        font-size: 50px;
    }
</style>