<h2> Eroare! </h2>
<p>Ceva nu a mers bine!</p>

<style>
    h2 {
        color:red;
        font-family: cursive;
        text-shadow: 2px 2px 5px red;
    }
    
    p{
        font-family: cursive;
    }
    
    .container h2 {
        font-size: 50px;
    }
    
    body {
        background-color #fff
    }
</style>