<div class ="content">
    <h2>username sau parola gresita</h2>

</div>




<style>
    
    
    .content{
        text-align: center;
        width:50%;
        color:red;
        margin:auto;
       
        font-family:cursive;
    }
    
    h2{
        margin-top:50%;
    }
    
    
</style>
