



<div class ="content">
    <h2> Te-ai autentificat cu succes! </h2>
    <h3> Mergi la pagina principala </h3>
    <button type="button" class="btn btn-success"> <a href="/home">ComandaMancare.ro </a> </button>

    
</div>


<style>
    
    
    .content{
        text-align: center;
        width:50%;
       
        margin:auto;
        background-color: #fff2d9;
        font-family:cursive;
    }
    
    
</style>

